  location ~* ^(?:.+)?/wp-cron\.php {
    if ($request_is_wp_cron_allowed) {
      return 444;
    }

    # set ENV vars for PHP
    include         /etc/nginx/fastcgi_params;
    fastcgi_param   SCRIPT_FILENAME     $document_root/wp$fastcgi_script_name;
    fastcgi_param   SCRIPT_NAME         $fastcgi_script_name;
    fastcgi_param   PATH_INFO           $path_info if_not_empty;
    fastcgi_param   SERVER_PORT         $http_x_forwarded_port;
    fastcgi_param   HTTPS               $https_forwarded if_not_empty;

    # send to PHP-FPM
    fastcgi_pass    unix:/var/www/$_application/tmp/php5-fpm.sock;
    break;
  }
