  ## deny based on bad bots
  if ($bad_bot) {
    return 444;
  }

  ## deny based on bad referrer
  if ($bad_referer) {
    return 444;
  }

  ## 405 unsupported http methods
  if ($not_allowed_method) {
    return 405;
  }

  ## files/directories that are system/hidden file types
  location ~* /(?:\.|package\.json) {
    return 404;
  }

