  ## set error pages
  ## recursive_error_pages        on;

  error_page   401      /401.html;
  location = /401.html {
    root   /var/www/common;
  }
  error_page   403      /403.html;
  location = /403.html {
    root   /var/www/common;
  }
  error_page   404      /404.html;
  location = /404.html {
    root   /var/www/common;
  }
  error_page   405      /405.html;
  location = /405.html {
    root   /var/www/common;
  }
  error_page   413      /413.html;
  location = /413.html {
    root   /var/www/common;
  }
  error_page   429      /429.html;
  location = /429.html {
    root   /var/www/common;
  }
  error_page   500 502 504  /50x.html;
  location = /50x.html {
    root   /var/www/common;
  }
