    ## password protect entire site
    satisfy               any;
    allow                 {{ ansible_lo.ipv4.address }};
    allow                 {{ ansible_eth0.ipv4.address }};
{% for ip in nginxHtpasswdWhitelist %}
    allow                 {{ ip }};
{% endfor %}
    deny                  all;
    auth_basic            "Restricted";
    auth_basic_user_file  /var/www/common/.htpasswd;
