## {{ ansible_managed }}
geo $request_is_wp_cron_allowed {
  default 1;

  127.0.0.1/32                     0; ## allow localhost
  {{ ansible_eth0.ipv4.address }}  0; ## allow eth0
  {{ ansible_eth1.ipv4.address }}  0; ## allow eth1

  ## other IPs allowed to hit wp-cron
{% for ip in nginxAllowedWPCron %}
  {{ ip }}                         0;
{% endfor %}
}
