set :ghetto_api_key, "{{ ghettoAPIKey }}"
set :slack_webhook_url, "{{ pushDeploySlackWebhookURL }}"

set :aws_access_key_id, "{{ pushDeployBuildS3AccessKey }}"
set :aws_secret_access_key, "{{ pushDeployBuildS3SecretKey }}"

set :netdna_alias, "{{ pushDeployNetDNACompanyAlias }}"
set :netdna_consumer_key, "{{ pushDeployNetDNAConsumerKey }}"
set :netdna_comsumer_secret, "{{ pushDeployNetDNAConsumerSecret }}"

set :pantheon_username, "{{ pushDeployPantheonUser }}"
set :pantheon_password, "{{ pushDeployPantheonPassword }}"